.toggle {
    transition: all 0.3s ease-in-out;

    &.dark {
        transform: rotate(180deg);
        color: rgb(201, 84, 104);

    }

    &.light {
        transform: rotate(0deg);
    color: pink;
    }
}