.search-place {
    border-bottom: 2px solid #000;
}

.custom-input-cards {
    display: block;
    padding: 0.375rem 0.5rem;
    border-radius: 0.375rem;
    border: none;
    background-color: white;
    box-shadow: 0px 1px 2px rgb(201, 84, 104);

    &::placeholder {
        color: rgb(123, 44, 57);
    }

    &:focus {
        outline: 2px solid rgb(123, 44, 57);
        outline-offset: 2px;
    }
}

.cards-style {
    border: 2px solid rgb(123, 44, 57);
}